body{
    background-color: #f7f7f7;
}
.wholediv{
    position: fixed;
    width: 100%;
}
#header{
    display: flex;
    background-color: #202340;
    color: white;
    justify-content: space-evenly;
    height: 30px;
    margin: none;
    text-align: center;
    padding-bottom: 20px;
}
#navbar{
    background-color: #f0f1f7;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* position: fixed;
    width: 100%; */
}
#nav-top{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
#navbar > div img{
    display: block;
    width: 15%;
}
#nav-top input{
    border-radius: 30px;
    width: 50%;
    height: 40px;
    justify-content: flex-end;
}
#nav-bottom,#middle,#right,#top{
    /* border: 1px solid red; */
    display: flex;
    padding-top: 0px;
    justify-content: space-between;
    
}
#middle{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    color: grey;
}
#middle>p{
    display: flex;
    justify-content: space-evenly;
}
#right{
    width: 20%;
    margin-right: 20px;
}
#right div{
    display: flex; 
}
#right div svg{
    padding-top: 7px;
    margin-top: 3px;
}
#belownav{
    display: flex;
    background-color: #f0f1f7;
    justify-content: space-between;
    height: 30px;
    margin-top: 5px;
    padding-bottom: 10px;
}

#mainbody{
    display: flex;
    background-color: #ffffff;
    padding-top: 150px;
}
.left{
    width: 20%;
    background-color: #ffffff;
    padding: 10px;
    margin-top: 5px;
}
.left svg{
    color: #00aacb; 
}
.display{
    display: flex;
    justify-content: space-between;
}
.left h4{
    margin-bottom: -15px;
}
.left p{
    margin-bottom: -10px;
}
.right{
    width: 77%;
    /* border: 1px solid blue; */
}
.right h2{
    padding-top: 30px;
    padding-left: 20px;
}
.rightmain{
    width: 90%;
    margin-left: 10px;
    padding: 10px;
}
#health h3{
    margin-top: -10px;
}
.insidehealth{
    /* border: 5px solid green; */
    width: 103%;
    padding: 20px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: #f0f1f7;
}
.rightmain #health img{
    width: 25%;
    height: 140px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding-top: 30px;
    padding: 10px;
    display: block;
    text-align: left;
    background-color: #ffffff;
    margin-right: 10px;
    margin-bottom: 10px;
}
.innerbeauty{
    /* border: 5px solid green; */
    width: 103%;
    padding: 20px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: #f0f1f7;
}
.rightmain #beauty img{
    width: 25%;
    height: 140px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding-top: 30px;
    padding: 10px;
    display: block;
    text-align: left;
    background-color: #ffffff;
    margin-right: 10px;
    margin-bottom: 10px;
}

.innerjewelry{
    /* border: 1px solid green; */
    width: 103%;
    padding: 20px;
    height: 160px;
    text-align: center;
    background-color: #f0f1f7;
}
.rightmain #jewelry img{
    width: 25%;
    height: 140px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding-top: 30px;
    padding: 10px;
    display: block;
    text-align: left;
    background-color: #ffffff;
}
.innerhome{
    /* border: 5px solid green; */
    width: 103%;
    padding: 20px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: #f0f1f7;
}
.rightmain #home img{
    width: 25%;
    height: 140px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding-top: 30px;
    padding: 10px;
    display: block;
    text-align: left;
    background-color: #ffffff;
    margin-right: 10px;
    margin-bottom: 10px;
}
.innerbaby{
    /* border: 1px solid green; */
    width: 103%;
    padding: 20px;
    height: 160px;
    text-align: center;
    background-color: #f0f1f7;
}
.rightmain #baby img{
    width: 25%;
    height: 140px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding-top: 30px;
    padding: 10px;
    display: block;
    text-align: left;
    background-color: #ffffff;
}
.innerweight{
    /* border: 1px solid green; */
    width: 103%;
    padding: 20px;
    height: 160px;
    text-align: center;
    background-color: #f0f1f7;
}
.rightmain #weight img{
    width: 25%;
    height: 140px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding-top: 30px;
    padding: 10px;
    display: block;
    text-align: left;
    background-color: #ffffff;
}
.innerentertain{
    /* border: 1px solid green; */
    width: 103%;
    padding: 20px;
    height: 160px;
    text-align: center;
    background-color: #f0f1f7;
}
.rightmain #entertain img{
    width: 25%;
    height: 140px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding-top: 30px;
    padding: 10px;
    display: block;
    text-align: left;
    background-color: #ffffff;
}
.innerelectronics{
    /* border: 1px solid green; */
    width: 103%;
    padding: 20px;
    height: 160px;
    text-align: center;
    background-color: #f0f1f7;
    margin-bottom: 50px;
}
.rightmain #electronic img{
    width: 25%;
    height: 140px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding-top: 30px;
    padding: 10px;
    display: block;
    text-align: left;
    background-color: #ffffff;
}
.innerauto{
    /* border: 1px solid green; */
    width: 103%;
    padding: 20px;
    height: 160px;
    display: flex;
    text-align: center;
    background-color: #f0f1f7;
}
.rightmain #automative img{
    width: 25%;
    height: 140px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding-top: 30px;
    padding: 10px;
    display: block;
    text-align: left;
    background-color: #ffffff;
    margin-right: 10px;
}

/* footer section */

#footer{
    padding-left: 10px;
}
.top1{
    display: flex;
    justify-content: space-between;
    background-color: #545871;
}
.top1 h4{
    color: white;
}
.top1left{
    width: 50%;
    display: flex;
    padding-left: 10px;
}
.top1left input{
    height: 20px;
    margin-top: 20px;
    margin-left: 5px;
    border: none;
}
.top1left button{
    height: 22px;
    margin-top: 20px;
    border: none;
}
.top1right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}
.top1right button{
    height: 30px;
    margin-top: 10px;
    border: none;
    margin-left: 10px;
    border-radius: 20px; 
}
.top2{
    display: flex;
    justify-content: space-between;
    background-color: #545871;
    margin-top: -20px;
}
.top2left{
    width: 80%;
    display: flex;
    padding-left: 10px;
    color: white;
}
.top2right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    padding: 15px;
    color: white;
}
.middle{
    background-color: #f0f1f7;
    font-size: 12px
}
.bottom{
    background-color: #f0f1f7;
}
.bottom1{
    display: flex;
    justify-content: center;
}
.bottom1 img{
    width: 6%;
    margin-right: 4px;
}
.bottom2{
    text-align: center;
}
.bottom2 img{
    width: 12%;
    margin: 10px;
}
/* <!-- code for sidenav --> */
.menulines{
    cursor: pointer;
}
.sidenav{
    height: 100%;
    width: 0px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: white;
    overflow-x: hidden;
    padding-top: 60px;
    transition: all 0.5s;
}
.sidenav a{
    text-decoration: none;
    font-size: .875rem;
    color: #2e2c38;;
    display: block;
    padding-bottom: 20px;
    padding-left: 20px;

}
.sidenav a h4{
    font-weight: 700;
    font-size: 1rem;
}
.sidenav a svg{
        width: 24px;
        height: 24px;
        line-height: 1rem;
        margin-right: 10px;
}
.sidenav a:hover{
    background-color: #f7f7f7;
    color: #0092c3;
}
.closebtn{
    position: absolute;
    top: 10px;
    right: 5px;
    z-index: 16;
}
.sidenav div a:nth-child(1){
    display: block;
    margin-top: -50px;
}
.spread{
    display: flex;
    justify-content: space-between;
}

/* right side slide menu */

.menulinesright{
    cursor: pointer;
}
.sidenavright{
    height: 100%;
    width: 0px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background: white;
    overflow-x: hidden;
    padding-top: 60px;
    transition: all 0.5s;
}
.sidenavright a{
    text-decoration: none;
    font-size: .875rem;
    color: #2e2c38;;
    display: block;
    padding-bottom: 20px;
    padding-left: 20px;

}
.sidenavright a h4{
    font-weight: 700;
    font-size: 1rem;
}
.sidenavright a svg{
        width: 24px;
        height: 24px;
        line-height: 1rem;
        margin-right: 10px;
}
.sidenavright a:hover{
    background-color: #f7f7f7;
    color: #0092c3;
}
.closebtnright{
    position: absolute;
    top: 10px;
    right: 5px;
    z-index: 16;
}
.sidenavright div a:nth-child(1){
    display: block;
    margin-top: -50px;
}
.spread{
    display: flex;
    justify-content: space-between;
}