
body{
    background-color: #f7f7f7;
}
.mainheader{
    position: fixed;
    width: 100%;
}
#header{
    display: flex;
    background-color: #202340;
    color: white;
    justify-content: space-evenly;
    height: 30px;
    margin: none;
    text-align: center;
    padding-bottom: 20px; 
}
#header a{
    color: white;
}
#navbar{
    background-color: #f0f1f7;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#nav-top{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
#navbar > div img{
    display: block;
    width: 15%;
}
#nav-top input{
    border-radius: 30px;
    width: 50%;
    height: 40px;
    justify-content: flex-end;
}
#nav-bottom,#right,#top{
    /* border: 1px solid red; */
    display: flex;
    padding-top: 0px;
    justify-content: space-between;
    
}
#middlenav{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    color: grey;
}
#middlenav p:hover{
    color: #00a8ca;
    cursor: pointer;
}
#middle1{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    color: grey;
}
#middle1>p{
    display: flex;
    justify-content: space-evenly;
}
#right{
    width: 20%;
    margin-right: 20px;
}
#right div{
    display: flex; 
}
#right div svg{
    padding-top: 7px;
    margin-top: 3px;
}
#belownav{
    display: flex;
    background-color: #f0f1f7;
    justify-content: space-between;
    height: 30px;
    margin-top: 5px;
    padding-bottom: 10px;
    padding-top: 172px;
}
#belownav img{
    width: 2%;
}
#belownav p{
    font-size: 13px;
    text-align: center;
}
.middle{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    background-color: #ffffff;
}
.middle p{
    font-size: 20px;
}
.middle img{
    width: 2%;
    margin: 5px;
}
.middle button{
    border-radius: 30px;
    font-size: 14px;
    background-color: white;
    margin-left: 30px;
    width: 10%;
    height: 40px; 
    margin-top: 12px;
}
#halloween img{
    width: 100%;
    height: 250px;
    margin-top: 20px;
}
.cards{
    display: flex;
    justify-content: space-evenly;
}
.cards >div{
    width: 22%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
    padding: 10px;
    
}
.cards>div>p+img{
    width: 90%;
    display: block;
    margin: auto;
}
.cards>div>p>div img{
    width: 90%;
    background-color: #f0f1f7;
    margin-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.cards>div>p{
    font-size: 18px;
    color: #202340;
}
.cards>div>div{
    margin: auto;
    text-align: center;
}
.cards>div>div>button{
    width: 90%;
    height: 30px;
    margin: 10px;
    margin-top: -10px;
    border-radius: 15px;
    background-color: #414467;
    color: white;
    border: none;
}
.cards div:nth-child(4)>img{
    width: 100%;
}
.cards>p u{
    font-size: 10px;
}
#popular{
    margin-top: 10px;
    height: 500px;
    background-color: #ffffff;
}
#popular h2{
    width: 50%;
    margin: auto;
    text-align: end;
    margin-bottom: 20px;
    margin-top: 20px;
}
.pictures{
    display:flex;
    justify-content: space-evenly;
}
.pictures>div:nth-child(1){
    width: 30%;
}
.pictures>div:nth-child(1) img{
    width: 100%;
}
.pictures>div:nth-child(2){
    width: 65%;
}
.pictures>div:nth-child(2)>.top-5 img{
    width: 18%;
    margin-right: 10px;
    justify-content: space-evenly;
}
.pictures>div:nth-child(2)>.bottom-4{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.pictures>div:nth-child(2)>.bottom-4 div{
    width: 22%;
}
.pictures>div:nth-child(2)>.bottom-4 img{
    width: 100%;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.divide{
    width: 10%;
    display: block;
    margin: auto;
    margin-top: -50px;
}
.new_prod{
    background-color: #ffffff;
    margin-top: -70px;
}
.new_prod h1{
    padding: 20px;
}
#new_prod1{
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffff;
    margin-top: -50px;
    padding-top: 60px;
}
#new_prod1 div{
    width: 23%;
}
#new_prod1 div>img{
    width: 100%;
}
#new_prod1 div p>img{
    width: 4%;
}
#new_prod1 div>.star+p{
    color: #0092c3;
}
#new_prod1 h5{
    margin-top: -10px;
    margin-bottom: -10px;
}
#cashback{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffff;
}
#cashback>div{
    width: 23%;
    text-align: center;
    padding-top: 10px;
}
#cashback div>img{
    width: 100%;
}
#cashback div h3>img{
    width: 6%;
}
#musthave{
    background-color: #ffffff;
    margin-top: 20px;

}
#musthave h2{
    width: 20%;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 10px;
}
.haves{
    display: flex;
    justify-content: center;
}
.haves div{
    width: 16%;
    text-align: center;
}
.haves div>img{
    width: 80%;
    border-radius: 50%;
    border: 10px solid #cbcdd4;
}

#newmotive{
    background-color:#ffffff ;
}
#newmotive h2{
    padding: 20px;
    padding-left: 50px;
}
#motive{
    display: flex;
    justify-content: space-evenly;
    
}
#motive div:nth-child(1){
    width: 30%;
    
}
#motive div:nth-child(1) img{
    width: 100%;
}
#motive div:nth-child(2){
    width: 60%;
}
#motive div:nth-child(2) img{
    width: 100%;
}
#motive div:nth-child(2) h5{
    margin-top: -10px;
    margin-bottom: -10px;
}
#motive div:nth-child(2) .star{
    margin-top: -10px;
    margin-bottom: -10px;
}

#motive div:nth-child(2) div{
    width: 30%;
}
#motive div:nth-child(2) div img{
    width: 100%;
}
.maindiv{
    display: flex;
    justify-content: space-evenly;
}
.maindiv div{
    width: 30%;
}
#motive div div .star+p{
    color: #0092c3;
}
#motive div:nth-child(2) div p img{
    width: 6%;
}
.new_prod2{
    background-color: #ffffff;
    margin-top: 10px;
}
.new_prod2 h1{
    padding: 20px;
}
#new_prod12{
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffff;
    margin-top: -50px;
    padding-top: 60px;
}
#new_prod12 div{
    width: 23%;
}
#new_prod12 div>img{
    width: 100%;
}
#new_prod12 div p>img{
    width: 4%;
}
#new_prod12 div>.star+p{
    color: #0092c3;
}
#new_prod12 h5{
    margin-top: 10px;
    margin-bottom: 10px;
}
#brands{
    background-color: #ffffff;
    margin-top: 20px;
}
#brands h2{
    width: 10%;
    margin: auto;
    
}
.images{
    display: flex;
    justify-content: space-evenly;
}
.images div{
    width: 20%;
    text-align: center;

}

/* footer section */

#footer{
    padding-left: 10px;
    margin-top: 30px;
}
.top1{
    display: flex;
    justify-content: space-between;
    background-color: #545871;
}
.top1 h4{
    color: white;
}
.top1left{
    width: 50%;
    display: flex;
    padding-left: 10px;
}
.top1left input{
    height: 20px;
    margin-top: 20px;
    margin-left: 5px;
    border: none;
}
.top1left button{
    height: 22px;
    margin-top: 20px;
    border: none;
}
.top1right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}
.top1right button{
    height: 30px;
    margin-top: 10px;
    border: none;
    margin-left: 10px;
    border-radius: 20px; 
}
.top2{
    display: flex;
    justify-content: space-between;
    background-color: #545871;
    margin-top: -20px;
}
.top2left{
    width: 80%;
    display: flex;
    padding-left: 10px;
    color: white;
}
.top2right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    padding: 15px;
    color: white;
}
.middle1{
    background-color: #f0f1f7;
    font-size: 12px
}
.bottom{
    background-color: #f0f1f7;
}
.bottom1{
    display: flex;
    justify-content: center;
}
.bottom1 img{
    width: 6%;
    margin-right: 4px;
}
.bottom2{
    text-align: center;
}
.bottom2 img{
    width: 12%;
    margin: 10px;
}


/* <!-- code for sidenav --> */
.menulines{
    cursor: pointer;
}
.sidenav{
    height: 100%;
    width: 0px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: white;
    overflow-x: hidden;
    padding-top: 60px;
    transition: all 0.5s;
}
.sidenav a{
    text-decoration: none;
    font-size: .875rem;
    color: #2e2c38;;
    display: block;
    padding-bottom: 20px;
    padding-left: 20px;

}
.sidenav a h4{
    font-weight: 700;
    font-size: 1rem;
}
.sidenav a svg{
        width: 24px;
        height: 24px;
        line-height: 1rem;
        margin-right: 10px;
}
.sidenav a:hover{
    background-color: #f7f7f7;
    color: #0092c3;
}
.closebtn{
    position: absolute;
    top: 10px;
    right: 5px;
    z-index: 16;
}
.sidenav div a:nth-child(1){
    display: block;
    margin-top: -50px;
}
.spread{
    display: flex;
    justify-content: space-between;
}

/* <!-- code for sidenavclothes --> */
.menulines{
    cursor: pointer;
}
.sidenavclothes{
    height: 100%;
    width: 0px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: white;
    overflow-x: hidden;
    padding-top: 60px;
    transition: all 0.5s;
}
.sidenavclothes a{
    text-decoration: none;
    font-size: .875rem;
    color: #2e2c38;;
    display: block;
    padding-bottom: 20px;
    padding-left: 20px;

}
.sidenavclothes a h4{
    font-weight: 700;
    font-size: 1rem;
}
.sidenavclothes a svg{
        width: 24px;
        height: 24px;
        line-height: 1rem;
        margin-right: 10px;
}
.sidenavclothes a:hover{
    background-color: #f7f7f7;
    color: #0092c3;
}
.closebtnclothes{
    position: absolute;
    top: 10px;
    right: 5px;
    z-index: 16;
}
.sidenavclothes div a:nth-child(1){
    display: block;
    margin-top: -50px;
}
.spread{
    display: flex;
    justify-content: space-between;
}

/* right side slide menu */

.menulinesright{
    cursor: pointer;
}
.sidenavright{
    height: 100%;
    width: 0px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background: white;
    overflow-x: hidden;
    padding-top: 60px;
    transition: all 0.5s;
}
.sidenavright a{
    text-decoration: none;
    font-size: .875rem;
    color: #2e2c38;;
    display: block;
    padding-bottom: 20px;
    padding-left: 20px;

}
.sidenavright a h4{
    font-weight: 700;
    font-size: 1rem;
}
.sidenavright a svg{
        width: 24px;
        height: 24px;
        line-height: 1rem;
        margin-right: 10px;
}
.sidenavright a:hover{
    background-color: #f7f7f7;
    color: #0092c3;
}
.closebtnright{
    position: absolute;
    top: 10px;
    right: 5px;
    z-index: 16;
}
.sidenavright div a:nth-child(1){
    display: block;
    margin-top: -50px;
}
.spread{
    display: flex;
    justify-content: space-between;
}

/* to the top button */
#progress{
    background-color: aqua;
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    cursor: pointer; 
}
html{
    scroll-behavior: smooth;
}
#progress-value{
    display: block;
    height: calc(100%-15px);
    width: calc(100%-15px);
    
}